@model NETTEST2.Models.UserPage
<div class="col-md-12">
    <div class="row">
        <div class="container-fluid">
            <img src="@Url.Content("~/Images/mountains.jpg")" class="img-responsive LEFTUPRIGHTBORDER" />
        </div>
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-inside-jumbotron text-center">
                <h3>@Model.UserName</h3>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="container-fluid">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item text-center" style="word-break: break-all"><b>@Html.DisplayNameFor(model => model.Id)</b><br>@Model.Id</li>
                <li class="list-group-item  text-center" style="word-break: break-all"><b>@Html.DisplayNameFor(model => model.Email)</b><br>@Model.Email</li>
                <li class="list-group-item text-center" style="word-break: break-all"><b>@Html.DisplayNameFor(model => model.UserName)</b><br>@Model.UserName</li>
                <li class="list-group-item text-center" style="word-break: break-all">
                    @if (Model.UserAuth)
                    {
                        using (Html.BeginForm("RemoveUser", "Test", FormMethod.Post, new { id = "deleteRowForm", @class = "btn-default" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="btn btn-default" href="javascript:document.getElementById('deleteRowForm').submit()">Usuń się</a>
                        }
                    }
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="container-fluid">
        <div class="row">
            @if (Model.UserAuth)
            {
                using (Html.BeginForm("CreateOffer", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.CarView.accel)
                    @Html.HiddenFor(x => x.CarView.brand)
                    @Html.HiddenFor(x => x.CarView.cartype)
                    @Html.HiddenFor(x => x.CarView.curb)
                    @Html.HiddenFor(x => x.CarView.drive)
                    @Html.HiddenFor(x => x.CarView.engine)
                    @Html.HiddenFor(x => x.CarView.gas)
                    @Html.HiddenFor(x => x.CarView.gear)
                    @Html.HiddenFor(x => x.CarView.model)
                    @Html.HiddenFor(x => x.CarView.name)
                    @Html.HiddenFor(x => x.CarView.power)
                    @Html.HiddenFor(x => x.CarView.price)
                    @Html.HiddenFor(x => x.CarView.top)
                    @Html.HiddenFor(x => x.CarView.torque)
                    @Html.HiddenFor(x => x.CarView.yom)
                    @Html.AntiForgeryToken()
                    <ul class="list-group">
                        <li class="list-group-item text-center" style="word-break: break-all">
                            <a class="btn btn-default" id="button">Utwórz ofertę</a>
                        </li>
                    </ul>
                    <div class="popup-create" style="display:none">
                        <div class="popup-create-content">
                            <ul class="list-group">
                                <li class="decoration-none">
                                    <a class="btn btn-default" id="button-exit">Zamknij</a>
                                </li>
                                <li class="decoration-none">
                                    <input type="file" name="ImageFile" id="ImageFile"/>
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="name" placeholder="Name:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="price" placeholder="Price:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="brand" placeholder="Brand:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="yom" placeholder="Year of manufacture:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="power" placeholder="Power:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="torque" placeholder="Torque:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="top" placeholder="Top speed:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="accel" placeholder="Acceleration time:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="gas" placeholder="Gas mileage:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="curb" placeholder="Curb weight:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="gear" placeholder="Gearbox type:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="drive" placeholder="Drive type:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="engine" placeholder="Engine type:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="cartype" placeholder="Car type:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="model" placeholder="Model:" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="submit" class="btn btn-default" value="Dodaj ofertę" />
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
        @if (Model.Offers != null)
        {
            foreach (var item in Model.Offers)
            {
                <div class="container-fluid">
                    <div class="row">
                        <img src="@Url.Content(item.Cars.ToArray()[0].ImageModels.ToArray()[0].ImagePath)" class="img-responsive roundedUP" />
                        <div class="offerbox text-center">
                            <h1><b>@item.Name</b></h1>
                            <hr />
                            <table  style="width:100%; display:inline-table;" class="table-condensed">
                                <tr>
                                    <td><b>Price<br /></b>@item.Price $</td>
                                    <td><b>Brand<br /></b>>@item.Cars.ToArray()[0].Brand</td>
                                    <td><b>Model<br /></b>@item.Cars.ToArray()[0].Model</td>
                                </tr>
                                <tr>
                                    <td><b>Year<br /></b>@item.Cars.ToArray()[0].YearOfManufacture</td>
                                    <td><b>Acceleration<br /></b>@item.Cars.ToArray()[0].CarDetails.AccelTime s</td>
                                    <td><b>Car Type<br /></b>@item.Cars.ToArray()[0].CarDetails.CarType</td>
                                </tr>
                                <tr>
                                    <td><b>Weight<br /></b>@item.Cars.ToArray()[0].CarDetails.CurbWeight kg</td>
                                    <td><b>Drive Type<br /></b>@item.Cars.ToArray()[0].CarDetails.DriveType</td>
                                    <td><b>Engine Type<br /></b>@item.Cars.ToArray()[0].CarDetails.EngineType</td>
                                </tr>
                                <tr>
                                    <td><b>Gas Mileage<br /></b>@item.Cars.ToArray()[0].CarDetails.GasMileage l/100 km</td>
                                    <td><b>Gearbox Type<br /></b>@item.Cars.ToArray()[0].CarDetails.GearboxType</td>
                                    <td><b>Power<br /></b>@item.Cars.ToArray()[0].CarDetails.Power bhp</td>

                                </tr>
                                <tr>
                                    <td><b>Top Speed<br /></b>@item.Cars.ToArray()[0].CarDetails.TopSpeed kph</td>
                                    <td><b>Torque<br /></b>@item.Cars.ToArray()[0].CarDetails.Torque Nm</td>
                                </tr>
                            </table>
                                    @if (Model.UserAuth)
                                    {
                                        using (Html.BeginForm("RemoveOffer", "Test", new { indexid = item.OfferID }, FormMethod.Post, new { id = "removeOfferForm", @class = "btn-default" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a class="btn btn-default" href="javascript:document.getElementById('removeOfferForm').submit()">Usuń Oferte</a>
                                        }
                                    }
                        </div>
                    </div>
                </div>
            }
        }


</div>
<script>
    document.getElementById("button").addEventListener("click", function () {
        document.querySelector('.popup-create').style.display = "flex";
    })

    document.getElementById("button-exit").addEventListener("click", function () {
        document.querySelector('.popup-create').style.display = "none";
    })
</script>
