@model NETTEST2.Models.UserPage
<div class="col-md-12">
    <div class="row">
        <div class="container-fluid">
            <img src="@Url.Content("~/Images/mountains.jpg")" class="img-responsive LEFTUPRIGHTBORDER" />
            @if (Model.ImageModelUsers == null || Model.ImageModelUsers.Count==0 )
            {
                <img src="@Url.Content("~/Images/avatar.jpg")" class="img-responsive img-avtr" style="position:absolute; z-index:99; height:150px; width:150px; margin:20px; bottom:50px;" />
            }
            else{
                <img src="@Url.Content(Model.ImageModelUsers.ToArray()[Model.ImageModelUsers.Count -1].ImagePath)" class="img-responsive img-avtr" style="position:absolute; z-index:99; height:150px; width:150px; margin:20px; bottom:50px;" />
             }
        </div>
        <div class="container-fluid">
            <div class="navbar navbar-default navbar-inside-jumbotron text-center">
                <h3>@Model.UserName</h3>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="container-fluid">
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item text-center" style="word-break: break-all"><b>@Html.DisplayNameFor(model => model.Id)</b><br>@Model.Id</li>
                <li class="list-group-item  text-center" style="word-break: break-all"><b>@Html.DisplayNameFor(model => model.Email)</b><br>@Model.Email</li>
                <li class="list-group-item text-center" style="word-break: break-all"><b>@Html.DisplayNameFor(model => model.UserName)</b><br>@Model.UserName</li>
                @if (Model.UserAuth)
                {
            <li class="list-group-item text-center" style="word-break: break-all">
                @using (Html.BeginForm("AddPhoto", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="file" name="ImageFile" id="ImageFile" onchange="form.submit()" style="display: none;" />
                    <input type="button" value="Zmień zdjęcie profilowe" onclick="document.getElementById('ImageFile').click();" class="btn" />
                }
            </li>
                }
                @if (Model.UserAuth || User.IsInRole("Admin") || User.IsInRole("Moderator"))
                {
                    using (Html.BeginForm("RemoveUser", "Test", new { userid = Model.Id }, FormMethod.Post, new { id = "deleteRowForm", }))
                    {
                        @Html.AntiForgeryToken()
                        <li class="list-group-item text-center" style="word-break: break-all"><b>@Html.DisplayNameFor(model => model.Money)</b><br>@Model.Money $</li>
                        <li class="list-group-item text-center" style="word-break: break-all">
                            <a class="btn" href="javascript:document.getElementById('deleteRowForm').submit()">Usuń się</a>
                        </li>
                    }
                }

            </ul>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div class="container-fluid">
        <div class="row">
            @if (Model.UserAuth)
            {
                using (Html.BeginForm("CreateOffer", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.CarView.accel)
                    @Html.HiddenFor(x => x.CarView.brand)
                    @Html.HiddenFor(x => x.CarView.cartype)
                    @Html.HiddenFor(x => x.CarView.curb)
                    @Html.HiddenFor(x => x.CarView.drive)
                    @Html.HiddenFor(x => x.CarView.engine)
                    @Html.HiddenFor(x => x.CarView.gas)
                    @Html.HiddenFor(x => x.CarView.gear)
                    @Html.HiddenFor(x => x.CarView.model)
                    @Html.HiddenFor(x => x.CarView.name)
                    @Html.HiddenFor(x => x.CarView.power)
                    @Html.HiddenFor(x => x.CarView.price)
                    @Html.HiddenFor(x => x.CarView.top)
                    @Html.HiddenFor(x => x.CarView.torque)
                    @Html.HiddenFor(x => x.CarView.yom)
                    @Html.AntiForgeryToken()
                    <ul class="list-group">
                        <li class="list-group-item text-center" style="word-break: break-all">
                            <a class="btn btn-default" id="button">Utwórz ofertę</a>
                        </li>
                    </ul>
                    <div class="popup-create" style="display:none">
                        <div class="popup-create-content">
                            <ul class="list-group">
                                <li class="decoration-none">
                                    <a class="btn btn-default" id="button-exit">Zamknij</a>
                                </li>
                                <li class="decoration-none">
                                    <input type="file" name="ImageFile" id="ImageFile" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="name" placeholder="Name:(text)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="price" placeholder="Price:(xxxx.xx)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="brand" placeholder="Brand:(text)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="yom" placeholder="Year of manufacture:(xxxx)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="power" placeholder="Power:(xxxx)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="torque" placeholder="Torque:(xxxx)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="top" placeholder="Top speed:(xxxx)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="accel" placeholder="Acceleration time:(xxxx.xx)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="gas" placeholder="Gas mileage:(xxxx.xx)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="curb" placeholder="Curb weight:(xxxx.xx)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="gear" placeholder="Gearbox type:(text)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="drive" placeholder="Drive type:(text)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="engine" placeholder="Engine type:(text)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="cartype" placeholder="Car type:(text)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="text" name="model" placeholder="Model:(text)" class="form-control center-block" />
                                </li>
                                <li class="decoration-none">
                                    <input type="submit" class="btn btn-default" value="Dodaj ofertę" />
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    @if (Model.Offers != null)
    {
        foreach (var item in Model.Offers)
        {
            ViewBag.item = item;
            ViewBag.UserAuth = Model.UserAuth;
            @Html.Partial("_OfferboxPartial")
        }
    }


</div>
<script>
    document.getElementById("button").addEventListener("click", function () {
        document.querySelector('.popup-create').style.display = "flex";
    })

    document.getElementById("button-exit").addEventListener("click", function () {
        document.querySelector('.popup-create').style.display = "none";
    })
</script>
